<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head th:insert="fragments/fragments :: header"><meta charset="UTF-8"></head>
	
	<body>
		<nav th:insert="fragments/fragments :: navbar"></nav>
	
		<div class="container">
			<h1 style="text-align: center">Votre commande en cours</h1>
        	
        	<div th:if="${!detailCommand.isEmpty()}">
	        	<div class="row" style="margin-bottom: 50px">
	        		<div class="col-3" th:each="product : ${detailCommand}" style="margin-bottom: 20px">
	        			<div class="card card-shadow h-100">
	        				<img class="card-img-top" th:attr="src=${product.image}" alt="Card image cap">
	        				<div class="card-body">
	        					<h5 class="card-title" th:text="${product.name}"></h5>
	        					<p class="card-text" th:text="${product.description}"></p>
	        				</div>
	        				<div class="card-footer row" style="margin: 0px">
	        					<div class="col-6">
	        						<span>Prix</span>
	        					</div>
	        					<div class="col-6">
	        						<p class="card-text" th:text="${product.price + '€'}"></p>
	        					</div>
	        				</div>
	        	
	        				
	        			</div>
	        		</div>
	        	</div>
	        	
	        	
	        	
        	</div>
        	<div th:if="${detailCommand.isEmpty()}">
       			<span>Aucun produit dans cette commande.</span>
       		</div>
        	
		</div>
	</body>
</html>