<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:insert="fragments/fragments :: header">
<meta charset="UTF-8">
</head>

<body>
	<nav th:insert="fragments/fragments :: navbar"></nav>

	<div class="container">
	
		<h1 style="text-align: center">Espace administration</h1>
		<hr>
	
		<div class="row">
			<div class="col">
				<div class="card shadow">
					<div class="card-body">
						<h5 class="card-title">Statistiques des commandes</h5>
						Afficher les statistiques des commandes de l'année en cours
					</div>
					<div class="card-footer">
						<a href="" class="btn btn-success">Voir les statistiques</a>
					</div>
				</div>
			</div>
			
			<div class="col">
				<div class="card shadow">
					<div class="card-body">
						<h5 class="card-title">Historique des commandes</h5>
						Afficher l'historique des commandes
					</div>
					<div class="card-footer">
						<a th:href="@{/allHistorique}" class="btn btn-success">Voir l'historique</a>
					</div>
				</div>
			</div>
		</div>
	
		<hr>
		<h1 style="text-align: center; margin-top: 50px">Commandes en cours</h1>

		<form method="POST" th:action="@{/allCommand}">
			<div class="form-group">
				<select class="form-control" name="select_status">
					<option value="Paid">Payée</option>
					<option value="Active">En cours de livraison</option>
				</select>
			</div>
			<input type="submit" class="btn btn-success" value="Afficher">
		</form>

		<div class="row">
			<div th:if="${!commandList.isEmpty()}">
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">Numéro</th>
							<th scope="col">Date</th>
							<th scope="col">Heure</th>
							<th scope="col">Prix</th>
							<th scope="col">Statut</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="command : ${commandList}">
							<th scope="row" th:text="${command.id}"/>
							<td th:text="${#dates.format(command.Date, 'dd/MM/yyyy')}"/>
							<td th:text="${#dates.format(command.Date, 'HH:mm')}"/>
							<td th:text="${command.getPrice() + ' €'}"/>
							<td>
								<th:block th:switch="${command.status}">
									<span th:case="${T(com.ensup.myresto.domaine.CommandStatus).Active}">En cours <button class="btn btn-success btn-sm ml-2">Terminée</button> </span> 
									<span th:case="${T(com.ensup.myresto.domaine.CommandStatus).Paid}">Payée <button class="btn btn-info btn-sm">En cours de préparation</button> </span>
									<span th:case="${T(com.ensup.myresto.domaine.CommandStatus).InProcess}">En cours <button class="btn btn-success btn-sm ml-2">Terminée</button> </span>
									<span th:case="${T(com.ensup.myresto.domaine.CommandStatus).Closed}">Términé</span>
								</th:block>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- <div th:if="${commands.isEmpty()}">
				<span>Aucune commande.</span>
			</div> -->
		</div>
	</div>
</body>
</html>